#import&read

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [145]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error

In [222]:
df_train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/5001/msbd5001-fall2020/train.csv', header = 0)
df_test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/5001/msbd5001-fall2020/test.csv', header = 0)
df_sample = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/5001/msbd5001-fall2020/sampleSubmission.csv', header = 0)

In [223]:
df_train.date =pd.to_datetime(df_train.date, dayfirst=True)
df_train.head(50)

    id                date      speed
0    0 2017-01-01 00:00:00  43.002930
1    1 2017-01-01 01:00:00  46.118696
2    2 2017-01-01 02:00:00  44.294158
3    3 2017-01-01 03:00:00  41.067468
4    4 2017-01-01 04:00:00  46.448653
5    5 2017-01-01 05:00:00  46.797766
6    6 2017-01-01 06:00:00  44.404925
7    7 2017-01-01 07:00:00  45.255897
8    8 2017-01-01 08:00:00  45.680859
9    9 2017-01-01 09:00:00  48.435676
10  10 2017-01-01 10:00:00  49.457054
11  11 2017-01-01 11:00:00  41.968519
12  12 2017-01-01 12:00:00  42.724735
13  13 2017-01-01 13:00:00  47.936459
14  14 2017-01-01 14:00:00  45.971881
15  15 2017-01-01 15:00:00  41.359861
16  16 2017-01-01 16:00:00  43.868033
17  17 2017-01-01 17:00:00  47.615541
18  18 2017-01-01 18:00:00  38.352760
19  19 2017-01-01 19:00:00  47.268928
20  20 2017-01-01 20:00:00  46.444756
21  21 2017-01-01 21:00:00  41.981908
22  22 2017-01-01 22:00:00  39.817240
23  23 2017-01-01 23:00:00  44.277821
24  24 2017-01-02 00:00:00  47.621563
25  25 2017-01-02 01:00:00  47.070161
26  26 2017-01-02 02:00:00  46.894923
27  27 2017-01-02 03:00:00  47.061395
28  28 2017-01-02 04:00:00  47.016156
29  29 2017-01-02 05:00:00  44.826296
30  30 2017-01-02 06:00:00  42.372913
31  31 2017-01-02 07:00:00  41.039407
32  32 2017-01-02 08:00:00  28.423751
33  33 2017-01-02 09:00:00  33.661183
34  34 2017-01-02 10:00:00  39.493022
35  35 2017-01-02 11:00:00  32.443944
36  36 2017-01-02 12:00:00  22.159932
37  37 2017-01-02 13:00:00  24.322088
38  38 2017-01-02 14:00:00  25.681217
39  39 2017-01-02 15:00:00  23.944490
40  40 2017-01-02 16:00:00  18.730192
41  41 2017-01-02 17:00:00  18.974225
42  42 2017-01-02 18:00:00  20.099364
43  43 2017-01-02 19:00:00  30.300381
44  44 2017-01-02 20:00:00  38.239332
45  45 2017-01-02 21:00:00  44.186865
46  46 2017-01-02 22:00:00  42.602738
47  47 2017-01-02 23:00:00  44.892171
48  48 2017-01-03 00:00:00  48.665823
49  49 2017-01-03 01:00:00  49.257496

In [224]:
df_test.date =pd.to_datetime(df_test.date, dayfirst=True)
df_test.head(50)

    id                date
0    0 2018-01-01 02:00:00
1    1 2018-01-01 05:00:00
2    2 2018-01-01 07:00:00
3    3 2018-01-01 08:00:00
4    4 2018-01-01 10:00:00
5    5 2018-01-01 16:00:00
6    6 2018-01-01 18:00:00
7    7 2018-01-02 01:00:00
8    8 2018-01-02 02:00:00
9    9 2018-01-02 07:00:00
10  10 2018-01-02 10:00:00
11  11 2018-01-02 14:00:00
12  12 2018-01-02 15:00:00
13  13 2018-01-02 16:00:00
14  14 2018-01-02 19:00:00
15  15 2018-01-02 20:00:00
16  16 2018-01-02 22:00:00
17  17 2018-01-02 23:00:00
18  18 2018-01-03 00:00:00
19  19 2018-01-03 03:00:00
20  20 2018-01-03 05:00:00
21  21 2018-01-03 06:00:00
22  22 2018-01-03 09:00:00
23  23 2018-01-03 10:00:00
24  24 2018-01-03 11:00:00
25  25 2018-01-03 14:00:00
26  26 2018-01-03 15:00:00
27  27 2018-01-03 16:00:00
28  28 2018-01-03 17:00:00
29  29 2018-01-03 18:00:00
30  30 2018-01-03 19:00:00
31  31 2018-01-03 23:00:00
32  32 2018-01-04 01:00:00
33  33 2018-01-04 07:00:00
34  34 2018-01-04 10:00:00
35  35 2018-01-04 11:00:00
36  36 2018-01-04 12:00:00
37  37 2018-01-04 13:00:00
38  38 2018-01-04 21:00:00
39  39 2018-01-04 22:00:00
40  40 2018-01-04 23:00:00
41  41 2018-01-05 02:00:00
42  42 2018-01-05 03:00:00
43  43 2018-01-05 06:00:00
44  44 2018-01-05 12:00:00
45  45 2018-01-05 14:00:00
46  46 2018-01-05 15:00:00
47  47 2018-01-05 18:00:00
48  48 2018-01-05 21:00:00
49  49 2018-01-06 00:00:00

#Extract Features

In [225]:
def period(x):
  if x < 4 : return 0 # late night
  if x < 8 : return 1 # early morning
  if x < 12 : return 2 # morning
  if x < 16 : return 3 # afternoon
  if x < 20 : return 4 # evening
  if x < 24 : return 5 # night

In [226]:
def season(x):
  if x < 3: return 0 #spring
  if x < 6: return 1 #summer
  if x < 9: return 2 #autumn
  return 3 # winter

In [227]:
HK_holiday = ['2017-01-02','2017-01-28','2017-01-30','2017-01-31','2017-04-04',
           '2017-04-14','2017-04-15','2017-04-17','2017-05-01','2017-05-03',
           '2017-05-30','2017-07-01','2017-10-02','2017-10-05','2017-10-28',
           '2017-12-25','2017-12-26',
           '2018-01-01','2018-02-16','2018-02-17','2018-02-19','2018-03-30',
           '2018-03-31','2018-04-02','2018-04-05','2018-05-01','2018-05-22',
           '2018-06-18','2018-07-02','2018-09-25','2018-10-01','2018-10-17',
           '2018-12-25','2018-12-26']
for i in range(len(HK_holiday)):
  HK_holiday[i] = pd.to_datetime(HK_holiday[i])

In [228]:
def extract(x):
  for i in range(len(HK_holiday)):
    if (x.year == HK_holiday[i].year) & (x.month == HK_holiday[i].month) &(x.day == HK_holiday[i].day):
      return 1
  return 0

In [229]:
def extract_date(df, column):
    df[column+"_year"] = df[column].apply(lambda x: x.year)
    df[column+"_month"] = df[column].apply(lambda x: x.month)
    df[column+"_day"] = df[column].apply(lambda x: x.day)
    df[column+"_hour"] = df[column].apply(lambda x: x.hour)
    df[column+"_weekday"] = df[column].apply(lambda x: x.weekday())
    # df[column+"_period"] = df[column+"_hour"].apply(period)
    # df[column+"_season"] = df[column+"_month"].apply(season)
    # df[column+"_isweekend"] = df[column+"_weekday"].apply(lambda x: 0 if x<5 else 1)
    df[column+"_isholiday"] = df[column].apply(extract)

In [230]:
extract_date(df_train, 'date')

In [231]:
extract_date(df_test, 'date')

In [232]:
df_train.set_index('date', inplace = True)
df_test.set_index('date', inplace = True)

In [233]:
df_train = df_train.drop(['id'],axis =1)
df_test = df_test.drop(['id'],axis =1)

In [234]:
df_train[['Mon', 'Tue' ,'Wedn' , 'Thur', 'Fri','Sat' ,'Sun']] = pd.get_dummies(df_train['date_weekday'])
df_train = df_train.drop(['date_weekday'], axis=1)
df_test[['Mon', 'Tue' ,'Wedn' , 'Thur', 'Fri','Sat' ,'Sun']] = pd.get_dummies(df_test['date_weekday'])
df_test = df_test.drop(['date_weekday'], axis=1)

In [235]:
df_train

                         speed  date_year  date_month  ...  Fri  Sat  Sun
date                                                   ...
2017-01-01 00:00:00  43.002930       2017           1  ...    0    0    1
2017-01-01 01:00:00  46.118696       2017           1  ...    0    0    1
2017-01-01 02:00:00  44.294158       2017           1  ...    0    0    1
2017-01-01 03:00:00  41.067468       2017           1  ...    0    0    1
2017-01-01 04:00:00  46.448653       2017           1  ...    0    0    1
...                        ...        ...         ...  ...  ...  ...  ...
2018-12-31 12:00:00  19.865269       2018          12  ...    0    0    0
2018-12-31 15:00:00  17.820375       2018          12  ...    0    0    0
2018-12-31 16:00:00  12.501851       2018          12  ...    0    0    0
2018-12-31 18:00:00  15.979319       2018          12  ...    0    0    0
2018-12-31 20:00:00  40.594183       2018          12  ...    0    0    0

[14006 rows x 13 columns]

In [236]:
df_test

                     date_year  date_month  date_day  ...  Fri  Sat  Sun
date                                                  ...
2018-01-01 02:00:00       2018           1         1  ...    0    0    0
2018-01-01 05:00:00       2018           1         1  ...    0    0    0
2018-01-01 07:00:00       2018           1         1  ...    0    0    0
2018-01-01 08:00:00       2018           1         1  ...    0    0    0
2018-01-01 10:00:00       2018           1         1  ...    0    0    0
...                        ...         ...       ...  ...  ...  ...  ...
2018-12-31 17:00:00       2018          12        31  ...    0    0    0
2018-12-31 19:00:00       2018          12        31  ...    0    0    0
2018-12-31 21:00:00       2018          12        31  ...    0    0    0
2018-12-31 22:00:00       2018          12        31  ...    0    0    0
2018-12-31 23:00:00       2018          12        31  ...    0    0    0

[3504 rows x 12 columns]

# validation

year-base  splitting

In [237]:
train = df_train[df_train['date_year'] == 2017]
val = df_train[df_train['date_year'] == 2018]
x_trainY = train.drop(['speed'], axis = 1)
y_trainY = train.speed
x_valY = val.drop(['speed'], axis = 1)
y_valY = val.speed

In [238]:
x_trainY

                     date_year  date_month  date_day  ...  Fri  Sat  Sun
date                                                  ...
2017-01-01 00:00:00       2017           1         1  ...    0    0    1
2017-01-01 01:00:00       2017           1         1  ...    0    0    1
2017-01-01 02:00:00       2017           1         1  ...    0    0    1
2017-01-01 03:00:00       2017           1         1  ...    0    0    1
2017-01-01 04:00:00       2017           1         1  ...    0    0    1
...                        ...         ...       ...  ...  ...  ...  ...
2017-12-31 19:00:00       2017          12        31  ...    0    0    1
2017-12-31 20:00:00       2017          12        31  ...    0    0    1
2017-12-31 21:00:00       2017          12        31  ...    0    0    1
2017-12-31 22:00:00       2017          12        31  ...    0    0    1
2017-12-31 23:00:00       2017          12        31  ...    0    0    1

[8750 rows x 12 columns]

In [239]:
y_trainY

date
2017-01-01 00:00:00    43.002930
2017-01-01 01:00:00    46.118696
2017-01-01 02:00:00    44.294158
2017-01-01 03:00:00    41.067468
2017-01-01 04:00:00    46.448653
                         ...
2017-12-31 19:00:00    44.742372
2017-12-31 20:00:00    46.428155
2017-12-31 21:00:00    43.059179
2017-12-31 22:00:00    42.754849
2017-12-31 23:00:00    45.894518
Name: speed, Length: 8750, dtype: float64

randomly splitting

In [240]:
X_train = df_train.drop(['speed'], axis = 1)
Y_train = df_train.speed
X_test = df_test
#xä¸ºæ•°æ®é›†çš„featureç†Ÿæ‚‰ï¼Œyä¸ºlabel.
x_trainR, x_valR, y_trainR, y_valR = train_test_split(X_train, Y_train, test_size = 0.3)

In [241]:
x_trainR

                     date_year  date_month  date_day  ...  Fri  Sat  Sun
date                                                  ...
2018-04-29 17:00:00       2018           4        29  ...    0    0    1
2017-06-10 05:00:00       2017           6        10  ...    0    1    0
2017-12-13 21:00:00       2017          12        13  ...    0    0    0
2018-11-26 13:00:00       2018          11        26  ...    0    0    0
2017-01-27 00:00:00       2017           1        27  ...    1    0    0
...                        ...         ...       ...  ...  ...  ...  ...
2017-09-02 12:00:00       2017           9         2  ...    0    1    0
2017-04-24 00:00:00       2017           4        24  ...    0    0    0
2018-08-12 04:00:00       2018           8        12  ...    0    0    1
2018-09-09 14:00:00       2018           9         9  ...    0    0    1
2017-11-07 02:00:00       2017          11         7  ...    0    0    0

[9804 rows x 12 columns]

In [242]:
y_trainR

date
2018-04-29 17:00:00    41.707454
2017-06-10 05:00:00    47.741464
2017-12-13 21:00:00    44.377437
2018-11-26 13:00:00    21.669387
2017-01-27 00:00:00    49.161111
                         ...
2017-09-02 12:00:00    22.323430
2017-04-24 00:00:00    47.780636
2018-08-12 04:00:00    45.576251
2018-09-09 14:00:00    40.775907
2017-11-07 02:00:00    48.448536
Name: speed, Length: 9804, dtype: float64

cross_val

In [243]:
X_train

                     date_year  date_month  date_day  ...  Fri  Sat  Sun
date                                                  ...
2017-01-01 00:00:00       2017           1         1  ...    0    0    1
2017-01-01 01:00:00       2017           1         1  ...    0    0    1
2017-01-01 02:00:00       2017           1         1  ...    0    0    1
2017-01-01 03:00:00       2017           1         1  ...    0    0    1
2017-01-01 04:00:00       2017           1         1  ...    0    0    1
...                        ...         ...       ...  ...  ...  ...  ...
2018-12-31 12:00:00       2018          12        31  ...    0    0    0
2018-12-31 15:00:00       2018          12        31  ...    0    0    0
2018-12-31 16:00:00       2018          12        31  ...    0    0    0
2018-12-31 18:00:00       2018          12        31  ...    0    0    0
2018-12-31 20:00:00       2018          12        31  ...    0    0    0

[14006 rows x 12 columns]

In [244]:
Y_train

date
2017-01-01 00:00:00    43.002930
2017-01-01 01:00:00    46.118696
2017-01-01 02:00:00    44.294158
2017-01-01 03:00:00    41.067468
2017-01-01 04:00:00    46.448653
                         ...
2018-12-31 12:00:00    19.865269
2018-12-31 15:00:00    17.820375
2018-12-31 16:00:00    12.501851
2018-12-31 18:00:00    15.979319
2018-12-31 20:00:00    40.594183
Name: speed, Length: 14006, dtype: float64

# RandomForest

n_estimators

In [254]:
param_test1 = {'n_estimators':range(100,140,10)}
gsearch1 = GridSearchCV(RandomForestRegressor(), param_grid = param_test1, cv=5, scoring = 'neg_mean_squared_error')
gsearch1.fit(x_trainR, y_trainR)
gsearch1.best_estimator_, gsearch1.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -13.632826070321153)

In [255]:
param_test1 = {'n_estimators':range(50,140,20)}
gsearch1 = GridSearchCV(RandomForestRegressor(), param_grid = param_test1, cv=5, scoring = 'neg_mean_squared_error')
gsearch1.fit(x_trainY, y_trainY)
gsearch1.best_estimator_, gsearch1.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=90, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -16.93712656925277)

In [256]:
param_test1 = {'n_estimators':range(50,140,20)}
gsearch1 = GridSearchCV(RandomForestRegressor(), param_grid = param_test1, cv=5, scoring = 'neg_mean_squared_error')
gsearch1.fit(X_train, Y_train)
gsearch1.best_estimator_, gsearch1.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=110, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -16.822929234367628)

max_depth   min_samples_split

In [265]:
param_test2 = {'max_depth':range(12,16,1), 'min_samples_split':[30,40,50]}
gsearch2 = GridSearchCV(RandomForestRegressor(n_estimators= 130),
   param_grid = param_test2, cv=5, scoring = 'neg_mean_squared_error')
gsearch2.fit(x_trainR, y_trainR)
gsearch2.best_estimator_, gsearch2.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=15, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=30, min_weight_fraction_leaf=0.0,
                       n_estimators=130, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -13.376891501684707)

In [268]:
param_test2 = { 'min_samples_split':[10,15,20,25,30]}
gsearch2 = GridSearchCV(RandomForestRegressor(n_estimators= 130,max_depth=15),
   param_grid = param_test2, cv=5, scoring = 'neg_mean_squared_error')
gsearch2.fit(x_trainR, y_trainR)
gsearch2.best_estimator_, gsearch2.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=15, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=20, min_weight_fraction_leaf=0.0,
                       n_estimators=130, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -13.341933402450849)

In [264]:
param_test2 = {'max_depth':range(3,14,2), 'min_samples_split':[30,40,50]}
gsearch2 = GridSearchCV(RandomForestRegressor(n_estimators= 90),
   param_grid = param_test2, cv=5, scoring = 'neg_mean_squared_error')
gsearch2.fit(x_trainY, y_trainY)
gsearch2.best_estimator_, gsearch2.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=11, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=30, min_weight_fraction_leaf=0.0,
                       n_estimators=90, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -14.798689438034113)

In [269]:
param_test2 = { 'min_samples_split':[10,15,20,25,30]}
gsearch2 = GridSearchCV(RandomForestRegressor(n_estimators= 90,max_depth=11),
   param_grid = param_test2, cv=5, scoring = 'neg_mean_squared_error')
gsearch2.fit(x_trainY, y_trainY)
gsearch2.best_estimator_, gsearch2.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=11, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=30, min_weight_fraction_leaf=0.0,
                       n_estimators=90, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -14.786716862677617)

In [266]:
param_test2 = {'max_depth':range(3,14,2), 'min_samples_split':[30,40,50]}
gsearch2 = GridSearchCV(RandomForestRegressor(n_estimators= 110),
   param_grid = param_test2, cv=5, scoring = 'neg_mean_squared_error')
gsearch2.fit(X_train, Y_train)
gsearch2.best_estimator_, gsearch2.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=11, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=50, min_weight_fraction_leaf=0.0,
                       n_estimators=110, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -14.599522110402642)

min_samples_leaf

In [274]:
param_test3 = {'min_samples_leaf':range(1,10,2)}
gsearch3 = GridSearchCV(RandomForestRegressor(n_estimators= 130, max_depth=15,min_samples_split=20),
   param_grid = param_test3, cv=5, scoring = 'neg_mean_squared_error')
gsearch3.fit(x_trainR, y_trainR)
gsearch3.best_params_, gsearch3.best_score_

({'min_samples_leaf': 3}, -13.280037452985734)

In [272]:
param_test3 = { 'min_samples_leaf':range(1,10,2)}
gsearch3 = GridSearchCV(RandomForestRegressor(n_estimators= 90, max_depth=11,min_samples_split=30),
   param_grid = param_test3, cv=5, scoring = 'neg_mean_squared_error')
gsearch3.fit(x_trainY, y_trainY)
gsearch3.best_params_, gsearch3.best_score_

({'min_samples_leaf': 1}, -14.770251646270617)

In [273]:
param_test3 = {'min_samples_leaf':range(1,10,2)}
gsearch3 = GridSearchCV(RandomForestRegressor(n_estimators= 110, max_depth=11,min_samples_split=50),
   param_grid = param_test3, cv=5, scoring = 'neg_mean_squared_error')
gsearch3.fit(X_train, Y_train)
gsearch3.best_params_, gsearch3.best_score_

({'min_samples_leaf': 3}, -14.601508520019816)

max_features

In [275]:
param_test4 = {'max_features':[6,7,8,9]}
gsearch4 =GridSearchCV(RandomForestRegressor(n_estimators= 130, max_depth=15, min_samples_leaf=3, min_samples_split=20),
   param_grid = param_test4, cv=5, scoring = 'neg_mean_squared_error')
gsearch4.fit(x_trainR, y_trainR)
gsearch4.best_estimator_, gsearch4.best_score_

({'max_features': 8}, -13.10956667624074)

In [281]:
param_test4 = {'max_features':[6,7,8,9]}
gsearch4 =GridSearchCV(RandomForestRegressor(n_estimators= 90, max_depth=11, min_samples_leaf=1, min_samples_split=30),
   param_grid = param_test4, cv=5, scoring = 'neg_mean_squared_error')
gsearch4.fit(x_trainY, y_trainY)
gsearch4.best_estimator_, gsearch4.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=11, max_features=9, max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=30, min_weight_fraction_leaf=0.0,
                       n_estimators=90, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -14.664663687908646)

In [282]:
param_test4 = {'max_features':[6,7,8,9]}
gsearch4 =GridSearchCV(RandomForestRegressor(n_estimators= 110, max_depth=11, min_samples_leaf=3, min_samples_split=50),
   param_grid = param_test4, cv=5, scoring = 'neg_mean_squared_error')
gsearch4.fit(X_train, Y_train)
gsearch4.best_estimator_, gsearch4.best_score_

(RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                       max_depth=11, max_features=9, max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=3,
                       min_samples_split=50, min_weight_fraction_leaf=0.0,
                       n_estimators=110, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False),
 -14.689177760266807)

# Evaluation

In [245]:
tscv = TimeSeriesSplit(n_splits=5)

cross_val

In [288]:
m1 = RandomForestRegressor(n_estimators= 110, max_depth=11, min_samples_leaf=3, min_samples_split=50, max_features = 9,criterion='mse')
m1.fit(X_train, Y_train)
cv1 = cross_val_score(m1,X_train,Y_train,cv=tscv,scoring="neg_mean_squared_error")
mse1 = cv1.mean() * (-1)
mse1

15.690858124620089

randomly

In [286]:
m1R = RandomForestRegressor(n_estimators= 130, max_depth=15, min_samples_leaf=3, min_samples_split=20,max_features = 8,criterion='mse')
m1R.fit(x_trainR, y_trainR)
y_predR = m1R.predict(x_valR)
mse1R = mean_squared_error(y_valR, y_predR, sample_weight=None, multioutput='uniform_average')
mse1R

12.695289769449849

based on year

In [287]:
m1Y = RandomForestRegressor(n_estimators= 90, max_depth=11, min_samples_leaf=1, min_samples_split=30, max_features = 9,criterion='mse')
m1Y.fit(x_trainY, y_trainY)
y_predY = m1R.predict(x_valY)
mse1Y = mean_squared_error(y_valY, y_predY, sample_weight=None, multioutput='uniform_average')
mse1Y

11.794670374764

In [292]:
prediction1Y = m1Y.predict(X_test)
r1Y = pd.DataFrame(prediction1Y)
df_sample['speed'] = r1Y[0]
df_sample
df_sample.to_csv('1Y.csv', index=None)

In [335]:
prediction1R = m1R.predict(X_test)
r1R = pd.DataFrame(prediction1R)
df_sample['speed'] = r1R[0]
df_sample
df_sample.to_csv('1R.csv', index=None)

In [291]:
prediction1 = m1.predict(X_test)
r1 = pd.DataFrame(prediction1)
df_sample['speed'] = r1[0]
df_sample
df_sample.to_csv('1.csv', index=None)

        id      speed
0        0  47.943755
1        1  47.001671
2        2  37.623575
3        3  30.540654
4        4  34.099092
...    ...        ...
3499  3499  11.881746
3500  3500  22.427428
3501  3501  43.795421
3502  3502  39.267929
3503  3503  41.702438

[3504 rows x 2 columns]

# XBGoost

n_estimators

In [260]:
cv_params = {'n_estimators':[230, 250, 280, 300]}
regress_model = XGBRegressor(objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(X_train, Y_train)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   24.2s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'n_estimators': 230}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -15.78359239965485

In [261]:
cv_params = {'n_estimators':[230, 250, 280, 300]}
regress_model = XGBRegressor(objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(x_trainR, y_trainR)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   16.5s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'n_estimators': 230}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -14.181054146405955

In [293]:
cv_params = {'n_estimators':[ 200,190,210,250]}
regress_model = XGBRegressor(objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(x_trainY, y_trainY)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:   12.7s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'n_estimators': 250}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -15.093244019025558

max_depth

In [297]:
cv_params = {'max_depth':[ 3,4,5,7,9], 'min_child_weight':[1,2,3,4,5,6]}
regress_model = XGBRegressor(n_estimators = 230, objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(X_train, Y_train)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   38.8s
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:  4.6min finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'max_depth': 4, 'min_child_weight': 6}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: 0.9161672838449529

In [295]:
cv_params = {'max_depth':[ 3,4,5,7,9], 'min_child_weight':[1,2,3,4,5,6]}
regress_model = XGBRegressor(n_estimators = 230, objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(x_trainR, y_trainR)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   28.1s
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:  3.4min finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'max_depth': 7, 'min_child_weight': 6}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: 0.9353870631703469

In [296]:
cv_params = {'max_depth':[ 3,4,5,7,9], 'min_child_weight':[1,2,3,4,5,6]}
regress_model = XGBRegressor(n_estimators = 250, objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(x_trainY, y_trainY)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   26.5s
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:  3.0min finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'max_depth': 4, 'min_child_weight': 4}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: 0.9205045839365488

gamma

In [299]:
cv_params = {'gamma':[ 0.1, 0.2, 0.3, 0.4, 0.5, 0.6]}
regress_model = XGBRegressor(n_estimators = 230, max_depth = 4, min_child_weight =6 , objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(X_train, Y_train)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   38.0s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'gamma': 0.2}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -15.33099391639069

In [300]:
cv_params = {'gamma':[ 0.1, 0.2, 0.3, 0.4, 0.5, 0.6]}
regress_model = XGBRegressor(n_estimators = 230, max_depth = 7, min_child_weight =6 , objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(x_trainR, y_trainR)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   49.8s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'gamma': 0.6}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -11.862059492579357

In [301]:
cv_params = {'gamma':[ 0.1, 0.2, 0.3, 0.4, 0.5, 0.6]}
regress_model = XGBRegressor(n_estimators = 250, max_depth = 4, min_child_weight =4 , objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
gs.fit(x_trainY, y_trainY)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   25.0s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'gamma': 0.1}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -14.782849381660423

subsample  colsample_bytree

In [303]:
# cv_params = {'subsample':[ 0.55,0.58, 0.6, 0.62], 'colsample_bytree': [0.68, 0.7, 0.73,]}
# regress_model = XGBRegressor(n_estimators = 230, max_depth = 4, min_child_weight =6, gamma = 0.2, objective='reg:squarederror') 
# gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
# gs.fit(X_train, Y_train)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# # æ€§èƒ½æµ‹è¯„
# print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
# print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   49.4s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.3min finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'colsample_bytree': 0.68, 'subsample': 0.6}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -15.584847817034262

In [305]:
# cv_params = {'subsample':[ 0.55,0.58, 0.6, 0.62], 'colsample_bytree': [0.68, 0.7, 0.73,]}
# regress_model = XGBRegressor(n_estimators = 230, max_depth = 7, min_child_weight =6 , gamma = 0.6, objective='reg:squarederror') 
# gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
# gs.fit(x_trainR, y_trainR)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# # æ€§èƒ½æµ‹è¯„
# print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
# print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.6min finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'colsample_bytree': 0.68, 'subsample': 0.6}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -12.235847412182666

In [306]:
# cv_params = {'subsample':[ 0.55,0.58, 0.6, 0.62], 'colsample_bytree': [0.68, 0.7, 0.73,]}
# regress_model = XGBRegressor(n_estimators = 250, max_depth = 4, min_child_weight =4, gamma = 0.1, objective='reg:squarederror') 
# gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1, scoring = 'neg_mean_squared_error')
# gs.fit(x_trainY, y_trainY)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# # æ€§èƒ½æµ‹è¯„
# print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
# print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   33.5s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:   52.8s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'colsample_bytree': 0.68, 'subsample': 0.6}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -14.832670090123788

reg_alpha  reg_lambda

In [323]:
cv_params = {'reg_alpha':[ 0.5, 1, 1.5], 'reg_lambda':[2.5, 3 ,3.5,4]}
regress_model = XGBRegressor(n_estimators = 230, max_depth = 4, min_child_weight =6, gamma = 0.2, objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1,scoring = 'neg_mean_squared_error')
gs.fit(X_train, Y_train)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   46.7s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.2min finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'reg_alpha': 1, 'reg_lambda': 3.5}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -15.435564887398872

In [324]:
cv_params = {'reg_alpha':[ 0.5, 1, 1.5], 'reg_lambda':[2.5, 3 ,3.5,4]}
regress_model = XGBRegressor(n_estimators = 230, max_depth = 7, min_child_weight =6 , gamma = 0.6, objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1,scoring = 'neg_mean_squared_error')
gs.fit(x_trainR, y_trainR)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.6min finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'reg_alpha': 1.5, 'reg_lambda': 3.5}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -11.744358200083493

In [322]:
cv_params = {'reg_alpha':[ 0.5, 1, 1.5], 'reg_lambda':[2.5, 3 ,3.5,4]}
regress_model = XGBRegressor(n_estimators = 250, max_depth = 4, min_child_weight =4, gamma = 0.1, objective='reg:squarederror') 
gs = GridSearchCV(regress_model, cv_params, verbose=2, refit=True, cv=5, n_jobs=-1,scoring = 'neg_mean_squared_error')
gs.fit(x_trainY, y_trainY)  # Xä¸ºè®­ç»ƒæ•°æ®çš„ç‰¹å¾å€¼ï¼Œyä¸ºè®­ç»ƒæ•°æ®çš„label
# æ€§èƒ½æµ‹è¯„
print("å‚æ•°çš„æœ€ä½³å–å€¼ï¼š:", gs.best_params_)
print("æœ€ä½³æ¨¡åž‹å¾—åˆ†:", gs.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   33.1s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:   51.7s finished

å‚æ•°çš„æœ€ä½³å–å€¼ï¼š: {'reg_alpha': 1.5, 'reg_lambda': 3}
æœ€ä½³æ¨¡åž‹å¾—åˆ†: -14.787880741109657

#Evaluation

cross_val

In [331]:
m2 = XGBRegressor(n_estimators = 230, max_depth = 4, min_child_weight =6, gamma = 0.2,criterion='mse', objective='reg:squarederror')
m2.fit(X_train, Y_train)
cv2 = cross_val_score(m2,X_train,Y_train,cv=tscv,scoring="neg_mean_squared_error")
mse2 = cv2.mean() * (-1)
mse2

16.632510816958735

**This one got the best score on kaggle (11.70998)**

In [333]:
prediction2 = m2.predict(X_test)
r2 = pd.DataFrame(prediction2)
df_sample['speed'] = r2[0]
df_sample
# df_sample.to_csv('2.csv', index=None)
#the best result on leaderboard

Randomly

In [325]:
m2R = XGBRegressor(n_estimators = 230, max_depth = 7, min_child_weight =6 , gamma = 0.6,criterion='mse', objective='reg:squarederror')
m2R.fit(x_trainR, y_trainR)
y_pred2R = m2R.predict(x_valR)
mse2R = mean_squared_error(y_valR, y_pred2R, sample_weight=None, multioutput='uniform_average')
mse2R

11.025053628127631

In [334]:
prediction2R = m2R.predict(X_test)
r2R = pd.DataFrame(prediction2R)
df_sample['speed'] = r2R[0]
df_sample
# df_sample.to_csv('2R.csv', index=None)

based on year

In [330]:
m2Y = XGBRegressor(n_estimators = 250, max_depth = 4, min_child_weight =4, gamma = 0.1,criterion='mse',objective='reg:squarederror')
m2Y.fit(x_trainY, y_trainY)
y_pred2Y = m2R.predict(x_valY)
mse2Y = mean_squared_error(y_valY, y_pred2Y, sample_weight=None, multioutput='uniform_average')
mse2Y

7.658880469290222

In [332]:
prediction2Y = m2Y.predict(X_test)
r2Y = pd.DataFrame(prediction2Y)
df_sample['speed'] = r2Y[0]
df_sample
# df_sample.to_csv('2Y.csv', index=None)